<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:wu="http://www.wu.com/schema/user"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
	   http://www.springframework.org/schema/beans/spring-beans.xsd
 		http://www.wu.com/schema/user http://www.wu.com/schema/user.xsd">

	<bean id="person" class="com.wu.test.Person"></bean>

	<wu:user id="wu" userName="liang" email="liang@qq.com" password="123456"></wu:user>

	<bean class="com.wu.MyBeanFactoryPostProcessor"></bean>
	<bean class="com.wu.MyBeanDefinitionRegistryPostProcessor"></bean>
</beans>